.env

# Секреты и конфиденциальные файлы
.env

# Базы данных
*.db

# Кеш ruff
.ruff_cache/

# Кеш Python
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
.venv/

# Системные файлы
.DS_Store
Thumbs.db
